.commentBox div {
  padding: 1rem;
}

.commentBox hr {
  width: 100%;
  margin: auto;
  border-color: #e5e5e5;
  border-width: 1px 0 0 0;
}

.user {
  font-size: 11pt;
  font-weight: 300;
}

.comment input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 10pt;
  font-weight: 100;
}

.date {
  font-size: 9pt;
  font-weight: lighter;
  color: #aaaaaa;
  padding-top: 0.3rem;
}

.btn {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.btn button {
  border: none;
  background-color: #fff;
  padding-left: 0.5rem;
}

.newcomment p{
  margin-top: 0.7rem;
  font-size: 12pt;
  font-weight: bold;
}