.input {
  padding: 1rem;
}

.uploadbox {
  padding: 1rem;
}

.filebox {
  padding: 1rem;
  border: none;
  width: 100%;
  height: 100%;
  margin: 1rem;
}

.filecard {
  display: flex;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  height: 180px;
  line-height: 180px;
}

.filecard p{
  vertical-align: middle;
  padding-left: 1rem;
  flex-grow: 1;
}

.pdf {
  height: 180px;
  width: 50%;
  padding-left: 0.5rem;
  vertical-align: middle;
}

.img {
  height: 180px;
  padding-left: 0.5rem;
  vertical-align: middle;
}

.delbtn {
  width: 2rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-top: 74px;
}