.input {
  padding: 1rem;
}

.uploadbox {
  padding: 1rem;
}

.pdf {
  height: 180px;
  width: 50%;
  padding-left: 0.5rem;
  vertical-align: middle;
}

.img {
  height: 180px;
  padding-left: 0.5rem;
  vertical-align: middle;
}

.delbtn {
  width: 2rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-top: 74px;
}